<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
      >
        <div class="container-fluid px-0">
          <a
            class="navbar-brand font-weight-bolder ms-sm-3 d-none d-md-block"
            href="/"
            rel="tooltip"
            title="Main Page"
            data-placement="bottom"
            target="_blank"
          >
            Smart Desk
          </a>
          <a
            class="navbar-brand font-weight-bolder ms-sm-3 d-block d-md-none"
            href="/"
            rel="tooltip"
            title="Main Page"
            data-placement="bottom"
            target="_blank"
          >
            Smart Desk
          </a>
          <button
            class="navbar-toggler shadow-none ms-2 ms-md-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div
            class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0"
            id="navigation"
          >
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item d-flex align-items-center mx-2">
                <a
                  href="#features"
                  role="button"
                  class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                >
                  Features
                </a>
              </li>
              <li class="nav-item d-flex align-items-center mx-2">
                <a
                  href="#join"
                  role="button"
                  class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                >
                  Join Us
                </a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a
                  href="https://github.com/rynixsnpsu/smartdesk"
                  target="_blank"
                  role="button"
                  class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Star us on GitHub!"
                  data-container="body"
                  data-animation="true"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.496275"
                      d="M5.83594 14.207C5.83594 14.207 5.80078 14.1719 5.76562 14.1367C5.73047 14.1367 5.69531 14.1016 5.625 14.1016C5.48438 14.1016 5.44922 14.1719 5.44922 14.2422C5.44922 14.3477 5.48438 14.3828 5.625 14.3828C5.76562 14.3828 5.83594 14.3125 5.83594 14.207ZM4.74609 14.0664C4.74609 13.9961 4.81641 13.9609 4.95703 13.9961C5.0625 14.0312 5.09766 14.0664 5.09766 14.1367C5.09766 14.207 5.0625 14.2422 5.02734 14.2422C4.95703 14.2773 4.92188 14.2773 4.88672 14.2422C4.81641 14.2422 4.78125 14.207 4.74609 14.1719C4.71094 14.1367 4.71094 14.1016 4.74609 14.0664ZM6.29297 13.9961C6.39844 13.9961 6.46875 14.0312 6.46875 14.1016C6.46875 14.1719 6.43359 14.2422 6.32812 14.2773C6.25781 14.2773 6.22266 14.2773 6.1875 14.2773C6.15234 14.2773 6.11719 14.207 6.11719 14.1367C6.11719 14.0664 6.15234 14.0312 6.29297 13.9961ZM8.61328 0.53125C10.1953 0.53125 11.6719 0.917969 13.043 1.65625C14.3789 2.42969 15.4688 3.44922 16.2422 4.71484C17.0156 6.05078 17.4375 7.52734 17.4375 9.10938C17.4375 11.0781 16.875 12.8008 15.7852 14.3477C14.6953 15.8945 13.2891 16.9492 11.5312 17.5117C11.3203 17.582 11.1797 17.5469 11.0742 17.4414C10.9688 17.3711 10.9336 17.2305 10.9336 17.0898V14.1367C10.9336 13.3984 10.7227 12.8711 10.3359 12.5195C11.1797 12.4492 11.8477 12.3086 12.2695 12.168C12.9023 11.957 13.4297 11.6055 13.7812 11.1133C14.168 10.5156 14.3789 9.67188 14.3789 8.61719C14.3789 8.19531 14.2734 7.80859 14.1328 7.45703C13.9922 7.24609 13.7812 6.92969 13.4648 6.57812C13.5352 6.36719 13.6055 6.08594 13.6406 5.73438C13.6406 5.24219 13.5703 4.71484 13.3945 4.1875C13.1484 4.11719 12.832 4.1875 12.4102 4.32812C12.1289 4.46875 11.7773 4.60938 11.4258 4.82031L10.9688 5.13672C10.2305 4.92578 9.49219 4.82031 8.71875 4.82031C7.94531 4.82031 7.24219 4.92578 6.53906 5.13672L6.08203 4.82031C5.69531 4.60938 5.34375 4.46875 5.0625 4.32812C4.64062 4.1875 4.32422 4.11719 4.11328 4.1875C3.90234 4.71484 3.79688 5.24219 3.86719 5.73438C3.86719 6.08594 3.90234 6.33203 4.00781 6.54297C3.72656 6.89453 3.51562 7.24609 3.375 7.52734C3.23438 7.80859 3.19922 8.19531 3.19922 8.61719C3.19922 9.67188 3.375 10.5156 3.76172 11.0781C4.07812 11.5703 4.57031 11.957 5.23828 12.168C5.66016 12.3086 6.29297 12.4492 7.13672 12.5195C6.82031 12.8008 6.64453 13.2227 6.57422 13.7148C6.15234 13.9258 5.76562 13.9961 5.41406 13.9258C4.78125 13.8906 4.32422 13.5742 4.00781 12.9766C3.86719 12.7305 3.65625 12.5195 3.44531 12.3438C3.26953 12.2734 3.09375 12.168 2.91797 12.0977L2.67188 12.0625C2.39062 12.0625 2.25 12.1328 2.25 12.2031C2.25 12.2734 2.28516 12.3789 2.42578 12.4492L2.60156 12.5898C2.74219 12.6953 2.91797 12.8359 3.09375 13.0469C3.23438 13.2227 3.33984 13.3984 3.44531 13.6094L3.58594 13.8906C3.69141 14.2422 3.90234 14.5234 4.25391 14.6992C4.53516 14.875 4.85156 14.9805 5.27344 15.0156C5.55469 15.0508 5.83594 15.0508 6.15234 14.9805L6.53906 14.9453L6.57422 17.0898C6.57422 17.2305 6.50391 17.3711 6.39844 17.4414C6.29297 17.5469 6.15234 17.582 5.97656 17.5117C4.18359 16.9492 2.74219 15.8945 1.65234 14.3477C0.527344 12.8008 0 11.0781 0 9.10938C0 7.52734 0.351562 6.08594 1.125 4.75C1.86328 3.44922 2.88281 2.42969 4.21875 1.65625C5.51953 0.917969 6.99609 0.53125 8.61328 0.53125ZM3.41016 12.6602C3.44531 12.625 3.51562 12.625 3.58594 12.6953C3.65625 12.7656 3.65625 12.8359 3.62109 12.8711C3.55078 12.9414 3.51562 12.9062 3.44531 12.8359C3.375 12.7656 3.33984 12.7305 3.41016 12.6602ZM3.02344 12.3789C3.05859 12.3438 3.12891 12.3438 3.19922 12.3789C3.26953 12.4141 3.26953 12.4492 3.26953 12.5195C3.23438 12.5898 3.16406 12.5898 3.09375 12.5195C3.02344 12.4844 2.98828 12.4492 3.02344 12.3789ZM4.18359 13.6094C4.18359 13.6094 4.21875 13.6094 4.28906 13.6094C4.32422 13.6094 4.35938 13.6445 4.39453 13.6797C4.42969 13.7148 4.46484 13.75 4.46484 13.7852C4.46484 13.8555 4.46484 13.8906 4.46484 13.8906C4.39453 13.9609 4.28906 13.9609 4.21875 13.8555C4.14844 13.8203 4.14844 13.7852 4.14844 13.7148C4.14844 13.6797 4.14844 13.6445 4.18359 13.6094ZM3.76172 13.1172C3.79688 13.1172 3.83203 13.1172 3.86719 13.1172C3.90234 13.1172 3.9375 13.1523 3.97266 13.1875C4.04297 13.293 4.04297 13.3633 3.97266 13.3984C3.9375 13.4336 3.90234 13.4336 3.86719 13.3984C3.83203 13.3984 3.79688 13.3633 3.76172 13.3281C3.69141 13.2227 3.69141 13.1523 3.76172 13.1172Z"
                      fill="#344767"
                    />
                  </svg>
                </a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a
                  href="/login"
                  target="_blank"
                  role="button"
                  class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                >
                  Get Started
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
<header>
  <div class="page-header min-vh-75">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mt-8 position-relative z-index-1">
          <div class="d-flex align-items-center">
            <svg
              width="19"
              height="18"
              viewBox="0 0 19 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.5714 7.07812C18.5714 7.24182 18.4747 7.42039 18.2813 7.61384L14.2299 11.5647L15.1897 17.1451C15.1972 17.1972 15.2009 17.2716 15.2009 17.3683C15.2009 17.5246 15.16 17.6548 15.0781 17.7589C15.0037 17.8705 14.8921 17.9263 14.7433 17.9263C14.6019 17.9263 14.4531 17.8817 14.2969 17.7924L9.28571 15.1585L4.27455 17.7924C4.11086 17.8817 3.96205 17.9263 3.82813 17.9263C3.67188 17.9263 3.55283 17.8705 3.47098 17.7589C3.39658 17.6548 3.35938 17.5246 3.35938 17.3683C3.35938 17.3237 3.36682 17.2493 3.3817 17.1451L4.34152 11.5647L0.279018 7.61384C0.093006 7.41295 0 7.23437 0 7.07812C0 6.80283 0.208333 6.6317 0.625 6.56473L6.22768 5.75L8.73884 0.671874C8.88021 0.366815 9.0625 0.214285 9.28571 0.214285C9.50893 0.214285 9.69122 0.366815 9.83259 0.671874L12.3438 5.75L17.9464 6.56473C18.3631 6.6317 18.5714 6.80283 18.5714 7.07812Z"
                fill="#EC407A"
              />
            </svg>
            <p class="text-primary font-weight-bold mb-0 ms-2">
              AI-Powered Intelligence
            </p>
          </div>
          <h1>Smart Desk</h1>
          <p class="text-lg mt-3">
            Transform Student Feedback into Actionable Intelligence. Smart Desk
            empowers universities with cutting-edge AI to analyze, understand,
            and act on student feedback. Elevate your institution's
            decision-making with real-time insights and comprehensive analytics.
          </p>
          <div class="d-block d-md-flex">
            <a href="/login/student" class="btn w-100 w-md-auto btn-primary"
              >Get Started</a
            >
            <a
              href="/login/university"
              class="btn bg-white ms-md-3 w-100 w-md-auto"
              >View Insights</a
            >
          </div>
        </div>
        <svg
          class="position-absolute top-0"
          width="1231"
          height="1421"
          viewBox="0 0 1231 1421"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g opacity="0.12786" filter="url(#filter0_f_31_15)">
            <ellipse
              cx="811.5"
              cy="602.5"
              rx="675.5"
              ry="682.5"
              fill="url(#paint0_linear_31_15)"
            />
          </g>
          <defs>
            <filter
              id="filter0_f_31_15"
              x="0.085907"
              y="-215.914"
              width="1622.83"
              height="1636.83"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"
              />
              <feGaussianBlur
                stdDeviation="67.957"
                result="effect1_foregroundBlur_31_15"
              />
            </filter>
            <linearGradient
              id="paint0_linear_31_15"
              x1="804.405"
              y1="-136.203"
              x2="160.281"
              y2="643.776"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#7B4CFF" />
              <stop offset="0.469471" stop-color="#EC407A" />
              <stop offset="1" stop-color="white" />
            </linearGradient>
          </defs>
        </svg>
        <img
          class="position-absolute top-0 mt-n7 me-n12 end-0 w-70 z-index-3"
          src="../assets/img/perspective.png"
          alt="header-image"
        />
      </div>
    </div>
  </div>
</header>
